<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>234982434781-adcab45sopl4si42irudafpf5dq0g7qg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.234982434781-adcab45sopl4si42irudafpf5dq0g7qg</string>
	<key>API_KEY</key>
	<string>AIzaSyBt2MyC58erNEmlMEnacn49-MObjsrmr-I</string>
	<key>GCM_SENDER_ID</key>
	<string>234982434781</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vicente.losmusicians</string>
	<key>PROJECT_ID</key>
	<string>los-musicians</string>
	<key>STORAGE_BUCKET</key>
	<string>los-musicians.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:234982434781:ios:ed4b4b13590da195047834</string>
</dict>
</plist>